
<div class="header clearfix">
  <%= render "repositories/navigation", repository: repository %>

  <h3 class="text-muted inline-block">
    <a href="<%= repository_path(repository.id) %>"><%= repository.name %></a>
  </h3>

  <div class="inline-block star-badge-header">
    <%#= render "repositories/star", repository: repository %>
  </div>
</div>

<hr>

<div class="jumbotron">
  <h1><%= repository.name %></h1>

  <% if repository.description.present? %>
    <p><%= repository.description %></p>
  <% end %>

  <div class="repositories">
    <ul class="list-group">
      <li class="list-group-item">
        <strong>Total languages Used</strong>
        <%# NOTE: total_count is snake case here %>
        <span class="badge"><%= repository.languages.total_count %></span>
      </li>

      <% repository.languages.nodes.each do |node|%>
        <li class="list-group-item">
          <%=  node.name %>
          <div style="float: right; height: 20px; width: 20px; background-color: <%= node.color%>">
        </li>
      <% end %>

    </ul>
  </div>


  <p>
    <%# NOTE: homepage_url is snake case here %>
    <% if repository.homepage_url.present? %>
      <a class="btn btn-primary btn-lg" href="<%= repository.homepage_url %>" role="button">Homepage</a>
    <% end %>

    <a class="btn btn-primary btn-lg" href="<%= repository.url %>" role="button">View on GitHub</a>
  </p>
</div>
